@import 'colors';
@import 'bootstrap_overrides';

body {
  font-family: 'Raleway', sans-serif;
}

.splash {
  position: relative;
  height: 600px;
  background-image: url("./splash_printer.png");
  border-bottom: 40px solid $color_c;

  .splash-overlay {
    position: absolute;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: $color_b;
  }

  .splash-hero {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    padding: 64px 12px;
    color: $color_white;
    // background-color: rgba(0,0,0,0.2);
    // border: 1px solid $color_dark;

    .splash-logo {
      width: 100%;
      max-width: 500px;
    }
    text-align: center;

    .tagline {
      font-family: 'Raleway', sans-serif;
      text-shadow: 0px 0px 10px $color_dark;
      font-size: 2em;
      font-weight: 100;
      margin-top: 10px;
    }

    .btn-join {
      position: absolute;
      right: 0px;
      top: -80px;
    }
    @media (max-width: 767px) {
      .btn-join {
        left: 0px;
        font-size: 1em;
      }
    }
  }
}

.container-services {
  background-color: $color_d;
  padding: 24px 0px;

  .row-services {
    .service {
      padding: 48px 24px;

      .title {
        font-weight: bold;
        font-size: 1.6em;
        border-bottom: 1px solid $color_c;
      }
      .description {
      }
    }
  }
}

.container-lead {
  background-color: $color_a;
  padding: 24px 0px;

  .lead {
    padding: 64px;
    font-size: 2em;
    font-weight: lighter;
    color: $color_white;
  }
  border-bottom: 40px solid $color_c;
}

.container-tags {
  background-color: $color_b;
  color: $color-white;
  padding: 48px 0px;

  .tag {
    padding: 48px;

    .title {
      font-size: 2em;
      font-weight: lighter;
      margin-bottom: 12px;
      border-bottom: 1px solid $color_c;
    }
    .description {
      font-size: 1em;
    }
  }

  .btn-join {
    margin-top: 16px;
  }
}

.container-contact {
  background-color: $color_dark;
  color: $color_white;
  padding: 48px 0px;

  h2 {
    border-bottom: 1px solid $color_d;
  }
  h2,h4 {
    font-weight: lighter;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 36px;
  }
  label {
    font-weight: normal;
  }
  a {
    color: $color_white;
  }

  .btn-join {
    margin-top: 32px;
  }

  .contact-details {
    h4 {
      margin-bottom: 8px;
    }
  }
}

.container-footer {
  .container {
    border-top: 1px solid $color_white;
    padding-top: 32px;
  }

  background-color: $color_dark;
  color: $color_d;
  padding: 24px 0px 64px 0px;
  ul {
    list-style-type: none;
    padding: 0px;
    li {
      margin: 10px 0px;
      a {
        color: $color_white;
      }
    }
  }
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    background-color: $color-white;
    color: $color_dark;
    padding: 5px 20px;
  }
}

.contractor-form {
  hr {
    color: $color_white;
    margin-top: 36px;
    margin-bottom: 48px;
  }
}
@import 'skill_selector';

